<!DOCTYPE html>
<html>

<head>
  <title>Lisper</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Titan+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>

<body>
  <h1>What Language is This?</h1>
  <!-- Form to gather user input -->
  <form action="/detect-language" method="POST">
    <label for="textInput">Enter Text:</label><br>
    <input type="text" id="textInput" name="user-input">
    <button type="submit">Submit</button>
  </form>

  <!-- Display the result -->
  <div class="card">
    <p>
      <% if (locals.data) { %>
        <h1><%= JSON.stringify(locals.data.wordEval[0]) %></h1>
      <% } else { %>
        <p><%= "uh-oh, wrong" %></p>
      <% } %> 

    </p>
  </div>
  <p class="confidenceScore">
   <!-- The confidence level of identified language --> 
  </p>
</body>

</html>
